body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #61dafb;
  padding: 10px 20px;
}

.header .login-btn {
  background-color: #ffffff;
  color: #61dafb;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header .login-btn:hover {
  background-color: #f2f2f2;
}

.sidebar {
  width: 280px;
  background-color: #2da0ff;
  padding: 20px;
  border-radius: 10px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li {
  margin-bottom: 10px;
}

.sidebar nav li a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar nav li a:hover {
  background-color: #f2f2f2;
}

.ͼ1.cm-editor.cm-focused {outline: 1px dotted #212121;}
.ͼ1.cm-editor {position: relative !important; box-sizing: border-box; display: flex !important; flex-direction: column;}
.ͼ1 .cm-scroller {display: flex !important; align-items: flex-start !important; font-family: monospace; line-height: 1.4; height: 100%; overflow-x: auto; position: relative; z-index: 0;}
.ͼ1 .cm-content[contenteditable=true] {-webkit-user-modify: read-write-plaintext-only;}
.ͼ1 .cm-content {margin: 0; flex-grow: 2; min-height: 100%; display: block; white-space: pre; word-wrap: normal; box-sizing: border-box; padding: 4px 0; outline: none;}
.ͼ1 .cm-lineWrapping {white-space: pre-wrap; white-space: break-spaces; word-break: break-word; overflow-wrap: anywhere;}
.ͼ2 .cm-content {caret-color: black;}
.ͼ3 .cm-content {caret-color: white;}
.ͼ1 .cm-line {display: block; padding: 0 2px 0 4px;}
.ͼ1 .cm-selectionLayer {z-index: -1; contain: size style;}
.ͼ1 .cm-selectionBackground {position: absolute;}
.ͼ2 .cm-selectionBackground {background: #d9d9d9;}
.ͼ3 .cm-selectionBackground {background: #222;}
.ͼ2.cm-focused .cm-selectionBackground {background: #d7d4f0;}
.ͼ3.cm-focused .cm-selectionBackground {background: #233;}
.ͼ1 .cm-cursorLayer {z-index: 100; contain: size style; pointer-events: none;}
.ͼ1.cm-focused .cm-cursorLayer {animation: steps(1) cm-blink 1.2s infinite;}
@keyframes cm-blink {50% {visibility: hidden;}}
@keyframes cm-blink2 {50% {visibility: hidden;}}
.ͼ1 .cm-cursor, .ͼ1 .cm-dropCursor {position: absolute; border-left: 1.2px solid black; margin-left: -0.6px; pointer-events: none;}
.ͼ1 .cm-cursor {display: none;}
.ͼ3 .cm-cursor {border-left-color: #444;}
.ͼ1.cm-focused .cm-cursor {display: block;}
.ͼ2 .cm-activeLine {background-color: #f3f9ff;}
.ͼ3 .cm-activeLine {background-color: #223039;}
.ͼ2 .cm-specialChar {color: red;}
.ͼ3 .cm-specialChar {color: #f78;}
.ͼ1 .cm-tab {display: inline-block; overflow: hidden; vertical-align: bottom;}
.ͼ1 .cm-placeholder {color: #888; display: inline-block; vertical-align: top;}
.ͼ1 .cm-button {vertical-align: middle; color: inherit; font-size: 70%; padding: .2em 1em; border-radius: 1px;}
.ͼ2 .cm-button:active {background-image: linear-gradient(#b4b4b4, #d0d3d6);}
.ͼ2 .cm-button {background-image: linear-gradient(#eff1f5, #d9d9df); border: 1px solid #888;}
.ͼ3 .cm-button:active {background-image: linear-gradient(#111, #333);}
.ͼ3 .cm-button {background-image: linear-gradient(#393939, #111); border: 1px solid #888;}
.ͼ1 .cm-textfield {vertical-align: middle; color: inherit; font-size: 70%; border: 1px solid silver; padding: .2em .5em;}
.ͼ2 .cm-textfield {background-color: white;}
.ͼ3 .cm-textfield {border: 1px solid #555; background-color: inherit;}
.ͼ1 .cm-gutters {display: flex; height: 100%; box-sizing: border-box; left: 0; z-index: 200;}
.ͼ2 .cm-gutters {background-color: #f5f5f5; color: #999; border-right: 1px solid #ddd;}
.ͼ3 .cm-gutters {background-color: #333338; color: #ccc;}
.ͼ1 .cm-gutter {display: flex !important; flex-direction: column; flex-shrink: 0; box-sizing: border-box; min-height: 100%; overflow: hidden;}
.ͼ1 .cm-gutterElement {box-sizing: border-box;}
.ͼ1 .cm-lineNumbers .cm-gutterElement {padding: 0 3px 0 5px; min-width: 20px; text-align: right; white-space: nowrap;}
.ͼ2 .cm-activeLineGutter {background-color: #e2f2ff;}
.ͼ3 .cm-activeLineGutter {background-color: #222227;}
.ͼ1 .cm-matchingBracket {background-color: #328c8252;}
.ͼ1 .cm-nonmatchingBracket {background-color: #bb555544;}
.ͼ7i {text-decoration: underline;}
.ͼ7j {font-style: italic;}
.ͼ7k {font-weight: bold;}
.ͼ7l {background-color: var(--sp-colors-surface1); color: var(--sp-syntax-color-plain); height: 100%;}
.ͼ7l .cm-matchingBracket, .ͼ7l .cm-nonmatchingBracket, .ͼ7l.cm-focused .cm-matchingBracket, .ͼ7l.cm-focused .cm-nonmatchingBracket {color: inherit; background-color: rgba(128,128,128,.25); background-blend-mode: difference;}
.ͼ7l.cm-editor.cm-focused {outline: none;}
.ͼ7l .cm-activeLine {background-color: var(--sp-colors-surface3); border-radius: var(--sp-border-radius);}
.ͼ7l .cm-errorLine {background-color: var(--sp-colors-errorSurface); border-radius: var(--sp-border-radius);}
.ͼ7l .cm-content {caret-color: var(--sp-colors-accent); padding: 0 var(--sp-space-4);}
.ͼ7l .cm-scroller {font-family: var(--sp-font-mono); line-height: var(--sp-font-lineHeight);}
.ͼ7l .cm-gutters {background-color: var(--sp-colors-surface1); color: var(--sp-colors-disabled); border: none; padding-left: var(--sp-space-1);}
.ͼ7l .cm-gutter.cm-lineNumbers {font-size: .6em;}
.ͼ7l .cm-lineNumbers .cm-gutterElement {line-height: var(--sp-font-lineHeight); min-width: var(--sp-space-5);}
.ͼ7l .cm-content .cm-line {padding-left: var(--sp-space-1);}
.ͼ7l .cm-content.cm-readonly .cm-line {padding-left: 0;}
.ͼ3k {text-decoration: underline;}
.ͼ3l {font-style: italic;}
.ͼ3m {font-weight: bold;}
.ͼ3n {background-color: var(--sp-colors-surface1); color: var(--sp-syntax-color-plain); height: 100%;}
.ͼ3n .cm-matchingBracket, .ͼ3n .cm-nonmatchingBracket, .ͼ3n.cm-focused .cm-matchingBracket, .ͼ3n.cm-focused .cm-nonmatchingBracket {color: inherit; background-color: rgba(128,128,128,.25); background-blend-mode: difference;}
.ͼ3n.cm-editor.cm-focused {outline: none;}
.ͼ3n .cm-activeLine {background-color: var(--sp-colors-surface3); border-radius: var(--sp-border-radius);}
.ͼ3n .cm-errorLine {background-color: var(--sp-colors-errorSurface); border-radius: var(--sp-border-radius);}
.ͼ3n .cm-content {caret-color: var(--sp-colors-accent); padding: 0 var(--sp-space-4);}
.ͼ3n .cm-scroller {font-family: var(--sp-font-mono); line-height: var(--sp-font-lineHeight);}
.ͼ3n .cm-gutters {background-color: var(--sp-colors-surface1); color: var(--sp-colors-disabled); border: none; padding-left: var(--sp-space-1);}
.ͼ3n .cm-gutter.cm-lineNumbers {font-size: .6em;}
.ͼ3n .cm-lineNumbers .cm-gutterElement {line-height: var(--sp-font-lineHeight); min-width: var(--sp-space-5);}
.ͼ3n .cm-content .cm-line {padding-left: var(--sp-space-1);}
.ͼ3n .cm-content.cm-readonly .cm-line {padding-left: 0;}
.ͼ4 {text-decoration: underline;}
.ͼ5 {text-decoration: underline; font-weight: bold;}
.ͼ6 {font-style: italic;}
.ͼ7 {font-weight: bold;}
.ͼ8 {text-decoration: line-through;}
.ͼ9 {color: #708;}
.ͼa {color: #219;}
.ͼb {color: #164;}
.ͼc {color: #a11;}
.ͼd {color: #e40;}
.ͼe {color: #00f;}
.ͼf {color: #30a;}
.ͼg {color: #085;}
.ͼh {color: #167;}
.ͼi {color: #256;}
.ͼj {color: #00c;}
.ͼk {color: #940;}
.ͼl {color: #7a757a;}
.ͼm {color: #f00;}