.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -10px; /* 保持最右边的卡片与屏幕右边的距离 */
}

.my-card {
    flex: 0 0 calc(25% - 15px); /* 一行显示4个卡片，保持相同宽度和间距 */
    height: 128px;
    margin-bottom: 10px; /* 保持卡片之间的垂直间距 */
    margin-right: 15px; /* 保持卡片之间的距离 */
    border: 1px solid #ccc; /* 设置细边框 */
    border-radius: 8px; /* 设置圆角 */
    position: relative;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
